# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac/Unix system files
.DS_Store
Thumbs.db

# Git clone directory
repo/
cloned_repos/